<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 uap5 mp rescap">

	<Identity
	  Name="60499RiseSoftware.RiseMediaPlayer"
	  Publisher="CN=71DBF32F-E672-41A2-A72F-A610029965F3"
	  Version="0.0.172.0" />

	<mp:PhoneIdentity PhoneProductId="44593a67-33b6-429d-a5f8-1a555e798a45" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Rise Media Player</DisplayName>
		<PublisherDisplayName>Rise Software</PublisherDisplayName>
		<Logo>Assets\App\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="Rise.App.App">
			<uap:VisualElements
			  DisplayName="Rise Media Player"
			  Square150x150Logo="Assets\App\Square150x150Logo.png"
			  Square44x44Logo="Assets\App\Square44x44Logo.png"
			  Description="The one app you&apos;ll need to access all of your media; be it music, videos or even your favourite streaming services."
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\App\Wide310x150Logo.png" Square71x71Logo="Assets\App\SmallTile.png" Square310x310Logo="Assets\App\LargeTile.png" ShortName="Rise Media Player">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\App\SplashScreen.png" uap5:Optional="true" />
				<uap:LockScreen BadgeLogo="Assets\App\BadgeLogo.png" Notification="badge"/>
			</uap:VisualElements>
				<Extensions>
          <uap5:Extension
                Category="windows.startupTask"
                Executable="Rise Media Player.exe"
                EntryPoint="Rise.App.App">
            <uap5:StartupTask
              TaskId="6VQ93204-N7OY-0258-54G3-385B9X0FUHIB"
              Enabled="false"
              DisplayName="Rise Media Player" />
          </uap5:Extension>
					<!-- File associations for audio files -->
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="mp3">
							<uap:SupportedFileTypes>
								<uap:FileType>.mp3</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="m4a">
							<uap:SupportedFileTypes>
								<uap:FileType>.m4a</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="wma">
							<uap:SupportedFileTypes>
								<uap:FileType>.wma</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="wav">
							<uap:SupportedFileTypes>
								<uap:FileType>.wav</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="flac">
							<uap:SupportedFileTypes>
								<uap:FileType>.flac</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="ogg">
							<uap:SupportedFileTypes>
								<uap:FileType>.ogg</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="aac">
							<uap:SupportedFileTypes>
								<uap:FileType>.aac</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="aiff">
							<uap:SupportedFileTypes>
								<uap:FileType>.aiff</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<!-- File associations for video files -->
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="mp4">
							<uap:SupportedFileTypes>
								<uap:FileType>.mp4</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="avi">
							<uap:SupportedFileTypes>
								<uap:FileType>.avi</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="mov">
							<uap:SupportedFileTypes>
								<uap:FileType>.mov</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="avchd">
							<uap:SupportedFileTypes>
								<uap:FileType>.avchd</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="mkv">
							<uap:SupportedFileTypes>
								<uap:FileType>.mkv</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
					<uap:Extension Category="windows.fileTypeAssociation">
						<uap:FileTypeAssociation Name="flv">
							<uap:SupportedFileTypes>
								<uap:FileType>.flv</uap:FileType>
							</uap:SupportedFileTypes>
						</uap:FileTypeAssociation>
					</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<Capability Name="internetClientServer" />
		<uap3:Capability Name="backgroundMediaPlayback" />
		<uap:Capability Name="videosLibrary" />
		<uap:Capability Name="removableStorage" />
		<uap:Capability Name="musicLibrary" />
		<uap:Capability Name="enterpriseAuthentication" />
	</Capabilities>
</Package>